# for GitHub Cloud

# Data files - ignores local cache files but keeps configuration text files
data/car_damage/train/*.arrow

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Environment files
.env

# basic checking
/notebooks/set_up_checks.ipynb

# OS specific files
.DS_Store

# Editor settings
.idea/

# Notebook logs
notebooks/output.log

